#!/bin/bash

# Check all tracked files and dirs for updates
#
# .git-repos-tracked
# /home/alice/.vim/bundle/Vundle.vim
# /home/alice/.vim/bundle/indentLine
# /home/alice/.vim/bundle/vim-terraform
# /home/alice/.vim/bundle/vim-bbye
# /home/alice/.vim/bundle/vim-quickui

# .git-files-tracked
#   repo       cmd  parameters to get version
# junegunn/fzf fzf --version | cut -d' ' -f1

# Requires a ~/.github_auth with current github token
if [ ! -e {{ github_auth }} ] ; then
    echo "Need a github auth token in {{ github_auth }}"
    exit 1
fi

RED=$(tput setaf 1)
GREEN=$(tput setaf 2)
NORMAL=$(tput setaf 7)

verlte() {
    printf '%s\n%s' "$1" "$2" | sort -C -V
}
verlt() {
    ! verlte "$2" "$1"
}

# Check git repos
GR33=$(pwd)
while read f ; do
    if [ -e ${f}/.git ] ; then
        cd $f
        git remote update > /dev/null 2>&1
        printf "%-65s" $(pwd)
        git status -s -b | egrep -v "^ M.*|^\?\?.*"
    fi
done < <(sort {{ git_repos_tracked }})
cd $GR33

# Check git files
while read f ; do
    REPO=$(echo $f | cut -d' ' -f1)
    TRACKED=$(echo $f | cut -d' ' -f2)
    VERSION=$(echo $f | cut -d' ' -f2-)
    REPOVER=$(curl --silent --request GET --header "Authorization: Bearer $(<{{ github_auth }})" --url "https://api.github.com/repos/${REPO}/releases/latest" | jq -r .tag_name| sed 's/[^0-9.]*//g')
    CURRVER=$(eval ${VERSION}| sed 's/[^0-9.]*//g')

    echo -n "${NORMAL}${TRACKED} Current $CURRVER Github $REPOVER "
    if verlt  ${CURRVER} ${REPOVER} ; then
        echo "${RED}Needs update - https://github.com/${REPO}/releases"
    else
        echo "${GREEN}OK"
    fi
done < <(sort -k2 {{ git_files_tracked }}) | column -t
cd $GR33
